<% if @subjects.blank? %>
<p>There are not any subjects currently in the system.</p>
<% else %>
<p>These are the current subjects in our system</p>

<ul id = "books">
   <% @subjects.each do |subject| %>
   <li>
   <%= link_to subject.name, {:action => "show", :id => subject.id} %><br>
  
   <%= link_to 'Edit', {:action => "edit", :id => subject.id} %><br>
   <%= link_to 'View Books', {:action=>"show_books", :id=> subject.id} %><br>
</li>

   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new subject", {:action => 'new' }%></p>
